*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
*/*/target
*/*/plugins
*/web-app/plugins
*/web-app/WEB-INF/classes
*.DS_Store
*/*.class
movie-domain/grails-movie-domain-0.1.zip
movie-rest/target/*
moviestore/target/*
movie-domain/target/*